<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <title>Заголовок страницы</title>
  <style> nav{
    margin-left: 320px;
    margin-top: 100px;
  }
  h1{
    margin-left: 200px;
  }
  body{
    background: #83e1ba;
  }
  img{
    width: 100px;
    height: 250px;
    margin-left: 344px;
  }

  </style>
</head>
<body>
<header>
  <h1>Чтобы продолжить выберите снизу</h1>
  <img src="/image/strelka_sinyaya.png">
  <nav>
      <a href="login">Войти</a>
      <a href="registration">Регистрация</a>
  </nav>
</body>
</html>