<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
<div class="main">
    <h1>Регистрация</h1>
    <h3>Зарегистрируйся</h3>

    <form action="/registration" method="post">
        <label for="first">Логин:</label>
        <input type="text" id="first" name="login" placeholder="Enter your Username" required>

        <label for="password">Пароль:</label>
        <input type="password" id="password" name="password" placeholder="Enter your Password" required>

        <label for="password">Повторите пароль:</label>
        <input type="password" id="repetitionPassword" name="repetitionpassword" placeholder="Enter your Password" required>

        <div class="wrap">
            <button type="submit" onclick="solve()">Зарегистрироваться</button>
        </div>
    </form>

    <p>Уже есть аккаунт?<a href="/login" style="text-decoration: none;">Войти</a></p>
</div>

</body>
</html>